# Node
node_modules
dist

# Logs
npm-debug.log*

# Local env
.env
.env.*

# Editor / OS
.vscode
.idea
.DS_Store

# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose*.yml

# Build outputs
build
